
.page{
    background-color: black;
}

body{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    text-align: left;
    
}

@media(min-width: 1000px){

   .body-padded{
    padding: 0 30% !important;
   } 

}



/* Gestione responsive */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Disposizione verticale su schermi piccoli */
        align-items: center; /* Centra le card */
    }
}

@media (min-width: 769px) {
    .header-component {
        background-size: cover;
    }
}