@media (min-width: 1200px) {

}

@media (max-width: 500px) {

    .content{
        width: 90% !important;
    }
    .ml{
        margin-left: 5%;
    }

    .mr{
        margin-left: 5% !important;
    }

}
